*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    margin: 0 0;
    display: flex;
    background-image: url(music-header.jpg);
    background-size: inherit;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


h1#logo{
    margin: 15px 30px;
    display: flex;
    color: #b7b7b7;
    text-transform: uppercase;
    font: -webkit-control;
    font-family: monospace;
    font-size: xxx-large;
}

body nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
}

body nav ul li{
  color: white;
    list-style: none;
    margin: 0 20px;
    filter: brightness(1.5) blur(0px);
    text-transform: uppercase;
}

main {
    background-image: url(466700_wallpaper-music-vinyl-music-vintage-wallpapers_2560x1600_h.jpg);
    background-attachment: local;
    background-position: inherit;
}

section {
    background: linear-gradient(180deg, rgb(181 127 100 / 31%), #ba75464a);
}

h2 {
    margin: 10px 20px;
}

div#history {
    background-color: #8e611d1a;
    color: floralwhite;
    filter: drop-shadow(1px 3px 2px black);
    display: flex;
    align-items: baseline;
}

div#instru {
    background-color: #8e611d1a;
    color: floralwhite;
    filter: drop-shadow(1px 3px 2px black);
    display: flex;
    align-items: baseline;
}

  ul#inlink {
      margin: 0 35px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      list-style: none;
      font: menu;
      font-size: large;
}

div#affects {
    background-color: #8e611d1a;
    color: floralwhite;
    filter: drop-shadow(1px 3px 2px black);
    display: flex;
    align-items: baseline;
}

p.article {
    margin: inherit;
    margin-right: 304px;
    font-family: cursive;
}

footer {
    margin: 0 0 0 0;
    background-size: 1851px;
    background-image: url(867016_free-music-wallpapers-music-band-wallpapers-musician-wallpapers_2560x1600_h.jpg);
    background-position: bottom;
    background-position-y: 243px;
    background-position-x: -211px;
    border-top: outset;
}

.footer {
    margin: 8px 296px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #bda384;
    font-size: inherit;
    font: menu;
    font-family: monospace;
}

ul#footer {
    list-style: none;
}