*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
    margin: 0 0;
    display: flex;
    background-image: url(music-header.jpg);
    background-size: inherit;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}


h1#logo{
    margin: 15px 30px;
    display: flex;
    color: #ffffff;
    text-transform: uppercase;
    font: menu;
    font-size: xxx-large;
}

#bck{
    background-image: url(466700_wallpaper-music-vinyl-music-vintage-wallpapers_2560x1600_h.jpg);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: -1;
    filter: blur(5px);
}

#bck::after{
    content: "";
    background: #383838;
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.5;
}

body nav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: stretch;
}

body nav ul li{
  color: white;
    list-style: none;
    margin: 0 20px;
    filter: brightness(1.5) blur(0px);
    text-transform: uppercase;
}


section {
    background: linear-gradient(180deg, rgb(181 127 100 / 31%), #ba75464a);
}

h2 {
    margin: 10px 20px;
}

div#history {    
    color: floralwhite;
    display: flex;
    flex-direction: column;
}

div#instru {
    color: floralwhite;
    display: flex;
    margin: 50px 0;
    flex-direction: column;
    justify-content: center;
}



.card {
    height: 350px;
    width: 200px;
    box-shadow: 3px 3px 7px 2px #000000cf;
    border-radius: 5px;
    background: linear-gradient( 
60deg
 , #98613b, #3e220e);
}

.cards-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.img-container {
    height: 75%;
    position: relative;
}

#violin {
    background-image: url(violin.jpeg);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

#cello{
    background-image: url(cello2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

#piano{
    background-image: url(piano2.jpg);
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    border-radius: 5px;
}

.txt {
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font: message-box;
    font-size: larger;
}


div#affects {
    color: floralwhite;
    display: flex;
    flex-direction: column;
}

p.article {
    margin: 14px 40px;
    font-family: cursive;
}

footer {
    margin: 0 0 0 0;
    background-size: 1851px;
    background-image: url(867016_free-music-wallpapers-music-band-wallpapers-musician-wallpapers_2560x1600_h.jpg);
    background-position: bottom;
    background-position-y: 243px;
    background-position-x: -211px;
    border-top: outset;
}

.footer {
    margin: 8px 296px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #bda384;
    font-size: inherit;
    font: menu;
    font-family: monospace;
}

ul#footer {
    list-style: none;
}